{
  "parser": "babel-eslint",
  "extends": ["bunchtogether"],
  "plugins": ["jest"],
  "env": {
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/resolve.config.js"
      }
    }
  }
}
